header{
    position: fixed; 
    height: 10vh;
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
    text-align: center;
    width: 100%;
}
.emulate {
    width: 30vh;
}

body{
    height: 100vh;
    background-image: url("../images/backgrounds/blueFabric.jpg");
    background-repeat: repeat;
    background-size: cover;
    margin: 0;

    display: grid;
    grid-template-columns: 0.25 fr 1fr 0.25 fr;
    grid-template-rows: 15vh 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.break { grid-area: 1 / 1 / 2 / 4; }
.text{
    font-family: 'Spectral', 'Courier New', monospace;
    font-size: 14px;
    color: white;
    text-align: center;

    grid-area: 2 / 2 / 3 / 3;
}

.title{
    font-style: italic;
    font-size: 20px;
    color:cornsilk;
}
.author{
    font-style: italic;
}

.img-display {
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.25fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.img{
    grid-area: 1 / 2 / 2 / 3; 
    object-fit: cover;
    max-width: 100%;
}

.left-column {
    grid-area: 1 / 1 / 2 / 2;

}
.right-column {
    grid-area: 1 / 3 / 2 / 4; 
}

.arrow-prev{
    width: 10vh;
    transform: scaleX(-1);
}

.arrow-next{
    width: 10vh;
}