/* Don't display the scroll bar */
html::-webkit-scrollbar {
    display: none;
}

/* Set up the background image */
body {
    background-image: url("../images/backgrounds/blueFabric.jpg");
    background-attachment: fixed;
    /*background-size: cover;    */
    margin: 0;
    justify-content: center;
    overflow-x: hidden;
}

/* Set the header  */
header {
    position: fixed;
    z-index: 20;
    text-align: center;

    color: white;
    background-image: url("../images/backgrounds/blueFabric.jpg");
    font-family: "Spectral", serif;
    font-style: italic;
    width: 100%;

    padding-bottom: .5em;
}

/* Set the size of the Emulate logo */
.emulate{
    width: 30vh;
} 

/* Sets the style for the UL (unordered list)*/
.navigation ul {
    list-style-type: none; 
    margin: 0;

    display: inline;
}

/* Sets the style for the list elements */
.navigation li{
    border: none;
    background: none;
    display: inline;
    color: white;
}

/* Sets the style for the button that encompasses the list */ 
.navigation button{
    font-family: 'Spectral', 'Courier New', monospace;
    border: none;
    background: none;

    color: white;
    padding-left: 2em;
    padding-right: 2em;

}

.row{
    position: absolute;
    animation: scroll 500s linear infinite;
    top: 20%;

    z-index: 0;
}

.row:after {
    padding: 20px;
    content: "";
    display: table;
    clear: both;

    z-index: 0;
}

.container {
    display: flex;
    max-width: 100%;
    width: 100%;
    flex-wrap: wrap; 
    justify-content: center;
    margin-bottom: 20px;
}

.event-img {
    width: 500px;
    object-fit: cover;
    margin: 10px 25px;

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.event-img:hover{
    -webkit-filter: grayscale(0%);
    filter: none;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}


@media (max-width: 750px) {
    .event-img {
        width: 100vw;
        object-fit: cover;
        margin: 10px 25px;

        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
}