header {
    position:relative;
    /*display: inline-flex;*/
    z-index: 1;
    text-align: center;

    color: rgb(0, 0, 0);
    top:0;
    margin: 0, auto;

    font-family: "Spectral", serif;
    font-style: italic;
    width: 100%;

    /*padding-bottom: .5em;*/
    padding: 1em;
    background-image: url(../images/backgrounds/just\ buddys\ belt.png);
    margin-bottom: 30%;
    
}
/*.EMULATE {*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/

/*    background-color: red;*/
/*}*/

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color:hotpink
}
.scissors{
    position: absolute;
    height: 40px;
    /*max-width: 50px;*/
    left: 25px;
    top: 25px;

    transform: rotate(210deg);
}

.menu {
    display: none;
}
.menu img{
    /*display: block;*/
    position: absolute;
    height: 300px;
    /*background-color: white;*/
    transform: rotate(30deg);
    left: 50px;
    top: -10px;
}

.submissions {
    text-align: center;
    font-style: italic;
    font-family:cursive;
    font-size: larger;
    font-stretch: expanded;
    background-image: url(../images/backgrounds/blueFabric.jpg);
    width: 50%;
    height: 50%;
    margin-left: 30%;
    margin-right: 10%;
    color:azure
}

body {
    background-image: url(../images/backgrounds/buddys\ leg.png)
}



.mouth img{
    width: 500px;
    position: sticky;
    left: 50%;
    top: -10%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: -25%;

}

.submit {
    background-image: url(../images/backgrounds/graphpaper.jpg);
    position: absolute;
    height: 57%;
    width: 100%;
    text-align: center;
}

    


